*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #1a1a1a;
}

.carrossel{
    filter: drop-shadow(0px 0px 10px #0000);
    overflow: hidden;
    height: 700px;
    width: 500px;
}

.container{
    display: flex;
    transition: transform 0.7s ease-in-out;
    transform: translateX(0);
}

img{
    padding: 40px;
    height: 700px;
    width: 500px;
    border-radius: 20px;
}